.block-inline-blocktechtud-steps .block-title{
    text-align: center;
    font-size: $font-size-30;
    font-weight: $font-weight-bold;
    color: $color-white;
    margin-bottom: 3rem;
}

.steps img{
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 65px;
}

.steps h3{
    font-size: $font-size-20;
    font-weight: $font-weight-bold;
    color: $color-white;
    margin: 1rem;
    text-align: center;
}

.steps p{
    font-size: $font-size-16;
    line-height: 1.38;
    color: $color-white;
    width: 90%;
    margin: auto;
    text-align: center;
}

.techtud-work{
    background-color: $primary-blue-200;
    padding: 60px;
    margin-bottom: 6rem;
}