$font-size-48: 48px;
$font-size-36: 36px;
$font-size-30: 30px;
$font-size-24: 24px;
$font-size-22: 22px;
$font-size-20: 20px;
$font-size-18: 18px;
$font-size-16: 16px;
$font-weight-bold: bold;
$font-weight-900: 900;
$font-weight-600: 600;
$primary-blue-200: #0aa3d3;
$color-black: #22222a;
$primary-black-400: #353434;
$color-white: #ffffff;
$primary-black-200: rgba(34, 34, 42, 0.7);
$primary-gray-400: #f7f7f7;
$font-family-sansPro: 'Source Sans Pro', sans-serif;
